# Folders
#cases/nupSimpleFoam
#cases/others
#cases/bigleafFoam/trash
applications/solvers/liquidFoam/
cases
tutorials/
lnInclude/
platforms/
linux*Gcc*/
# mesh files
boundary
cellZones
faces
neighbour
owner
points

# Compiled source
*.o
*.pyc
*.so
*.dep

# Temporaries
*~
.~*
*.backup

# QT Creator files
*.config
*.creator
*.creator.*
*.files
*.includes

# Clions files
*.project
*.cproject

# Data files
VTK

trash/

# Work in Progress
#!cases/bigleafFoam/cubeTree

